<h1>Spike: Librería NgxCsvParser</h1>
<div class="csv-file-chooser-section">

  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
    accept=".csv" />
</div>

<div class="csv-result-table">

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Area</th>
        <th>Grupo</th>
        <th>Gestion</th>
        <th>Ciudad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let csvData of csvRecords; let i = index;">

        <td>{{i+1}}</td>
        <td>
          <span>{{csvData.Nombre}}</span>
        </td>
        <td>
          <span>{{csvData.Apellido}}</span>
        </td>
        <td>
          <span>{{csvData.Email}}</span>
        </td>
        <td>
          <span>{{csvData.Area}}</span>
        </td>
        <td>
          <span>{{csvData.Grupo}}</span>
        </td>
        <td>
          <span>{{csvData.Gestion}}</span>
        </td>
        <td>
          <span>{{csvData.Ciudad}}</span>
        </td>

      </tr>
    </tbody>
  </table>
</div>



